*{
    box-sizing: border-box;
}

body{
    font-family: 'Tahoma';
    border-color: beige;
}

h2{
    color: tomato;
}

h1{
    color: orchid;
}

.recipe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.ingredients{
    align-self: center;
    background-color: antiquewhite;
    width: 60%;
    padding: 10px;
    border: 5px solid tomato;
    border-radius: 20px;
    animation: tog ;
    animation-duration: 5s;

}

@keyframes tog {
    from{
        margin-top: 200px;
    }
    to{
        margin-top: 0px;
    }
    
}

.ingredients:hover{
    background-color: yellow;
    color:tomato
}

.tf{
    display: flex;
    padding: 0px 70px;
    background-color: yellow;
    border-radius: 40px; 
}




